<h2>Analitos</h2>
<form class="formularios-dos-columnas" method='post' action=''>{% csrf_token %}
	<div class="row-fluid formulario">
    	<fieldset id="ingreso-datos-analitos" class="span4">
    		<legend>Datos</legend>
    		<label for="nombre">Nombre</label>
    		{{ formulario.nombre }}
    		<label for="categorias">Categor&iacute;a</label>
    		{{ formulario.categorias }}
    		<label for="vminp">V.m.P.</label>
    		{{ formulario.vminp }}
    		<label for="vmaxp">V.M.P.</label>    		
    		{{ formulario.vmaxp }}
    		<label for="metodo-unit">M&eacute;todo utilizado (UNIT)</label>    		
    		{{ formulario.metodo_unit }}
    		<label for="metodo">M&eacute;todo utilizado</label>    		
    		{{ formulario.metodo }}
    		<label for="observaciones">Observaciones</label>
    		{{ formulario.detalle }}
    	</fieldset>
    	<fieldset class="span8" id="analitos">
    		<legend>Listado de Analitos (para actualizar o eliminar selecciona uno)</legend>
    		<div id="ListaAnalitos"></div>

    	</fieldset>
    </div>
    <div class="botones-formulario" class="row-fluid">
    	<div class="span4"> </div>
    	<button type="submit" class="btn span2" id="guardar">Guardar</button>
    	<button type="reset" class="btn span2" id="limpiar">Limpiar campos</button>
    	<button type="submit" class="btn span2" id="eliminar">Eliminar</button>
    	<button class="btn btn-primary span2">Imprimir</button>
    </div>
</form>

