{% extends 'base_sbar.html' %}
{% block content %}
    <div id="col1">
        <img src="{{ STATIC_URL }}img/bg_registro_uaa.jpg" alt="decoracion" />
    </div>
    <div id="col2">
    	<form class="form-registro-cliente" method='post' action=''>{% csrf_token %}
        	<div id="fieldset1">
        		<fieldset id="ingreso-datos-cliente">
            		<h2>Nuevo Cliente</h2>
            		<label for="nombre-empresa">Nombre de Empresa *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
	                {{formulario.razon}}
                    <label for="domicilio">Domicilio *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
                    {{formulario.domicilio}}
                    <label for="telefono">Tel&eacute;fono *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
                    {{formulario.telefono}}<br />
		            <button type="submit" class="btn btn-primary" id="siguiente-cliente">Siguiente&nbsp;&nbsp;<i class="icon-arrow-right icon-white"></i></button>
	            	<button type="button" class="btn pull-right" id="limpiar-cliente">Limpiar campos</button>
        		</fieldset>
        	</div>
        	<div id="fieldset2">
        		<fieldset id="ingreso-datos-usuario">
		            <h2>Usuario Responsable</h2>
		            <label for="nombre-usuario">Nombres *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label>
		            {{formulario.firstname}}
		            <label for="apellidos">Apellidos *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
		            {{formulario.lastname}}
		            <label for="email">E-Mail *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
		            {{formulario.email}}
		            <label for="nombre-usuario">Celular *&nbsp;&nbsp;&nbsp;<span class="campo-obligatorio">Obligatorio</span></label></label>
		            {{formulario.telefono}}
		            <button type="submit" class="btn btn-primary" id="guardarw-nuevo-registro-cliente">Guardar&nbsp;&nbsp;<i class="icon-check icon-white"></i></button>
	            	<button type="button" class="btn pull-right" id="limpiar-usuario">Limpiar campos</button>
            	</fieldset>
        	</div>
       </form>
    </div>
    <div id="modal-habilitado" class="modal hide fade">
        <div class="modal-body">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <p>Gracias por registrarse, a la brevedad nos contactaremos.</p>
        </div>
        <!--<div class="modal-footer">
            <a href="#" class="btn">Cerrar</a>
            <a href="#" class="btn btn-primary" id="eliminar-btn-eliminar">Eliminar</a>
        </div>-->           
    </div>    
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/registro-nuevo-cliente.js"></script>
{% endblock %}  