
{% if localidades|length %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nro. de Referencia</th>
				<th>Nombre</th>
    			<th>Departamento</th>
    			<th>Coordenadas Geogr&aacute;ficas</th>
			</tr>
		</thead>
		<tbody>
			{% for localidad in localidades %}
				<tr class="fila-localidades">
					<td class="numero-referencia">{{ localidad.id }}</td>
					<td td class="ciudad">{{ localidad.nombre }}</td>
					<td class="departamento">{{ localidad.departamento }}</td>
					<td class="coordenadas">{{ localidad.coordenadas }}</td>
				</tr>
			{% endfor %}			
		</tbody>
	</table>

{% else %}
	<div class="note">
		Por el Momento no hay Localidades.
	</div>			
{% endif %}	