
{% if analitos|length %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id.</th>
				<th>Nombre</th>
    			<th>Categor&iacute;a</th>
    			<th>VMP</th>
    			<th>Método utilizado (UNIT)</th>

			</tr>
		</thead>
		<tbody>
			{% for analito in analitos %}
				<tr class="fila-analitos">
					<td class="numero-referencia">{{ analito.id }}</td>
					<td class="nombre">{{ analito.nombre }}</td>
					<td class="categorias">{{ analito.categoria }}</td>
					<td class="vmaxp">{{ analito.valor_maximo }}</td>
					<td class="metodo-unit">{{ analito.metodo_unit }}</td>
					<td class="observaciones invisible">{{ analito.observaciones }}</td>
					<td class="metodo invisible">{{ analito.metodo }}</td>
					<!-- <td class="observaciones invisible">FADsdkjfb s sdkjfbasd jhabsd faj</td>	
					-->
				</tr>
			{% endfor %}			
		</tbody>
	</table>

{% else %}
	<div class="note">
		Por el Momento no Analitos.
	</div>			
{% endif %}	