{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid" id="fila-contenedora">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="clai" >
                    <li class="active" >
                        <a href="#tab-analitos" data-toggle="tab">Configurar Analitos</a>
                    </li>
                    <li>
                        <a href="#tab-localidades" data-toggle="tab">Configurar Localidades</a>
                    </li>
                    <li>
                        <a href="#tab-usuarios" data-toggle="tab">Configurar Usuarios</a>
                    </li>
                    <li>
                        <a href="#tab-clientes" data-toggle="tab">Configurar Clientes</a>
                    </li>                  
                        <!--<li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Vista 4</a>
                            <ul class="dropdown-menu">
                                <li>Submen&uacute; 1</li>
                                <li>Submen&uacute; 2</li>
                            </ul>
                        </li>-->
                 </ul>
                 <div class="tab-content">
                    <!--PEDIDO DE MUESTREO: CLIENTE, DATA-ENTRY-->
                    <div class="cont-pedido-muestreo tab-pane active"  id="tab-analitos">
						<h2>Analitos</h2>
						<form class="formularios-dos-columnas" method='post' action=''>{% csrf_token %}
							<div class="row-fluid formulario">
						    	<fieldset id="ingreso-datos-analitos" class="span4">
						    		<legend>Datos</legend>
                                    {{ formAnalito.id }}
						    		<label for="nombre">Nombre</label>
						    		{{ formAnalito.nombre }}
						    		<label for="categoria">Categor&iacute;a</label>
						    		{{ formAnalito.categoria }}
						    		<label for="vmaxp">V.M.P.</label>    		
						    		{{ formAnalito.vmaxp }}
						    		<label for="metodo-unit">M&eacute;todo utilizado (UNIT)</label>    		
						    		{{ formAnalito.metodo_unit }}
						    		<label for="metodo">M&eacute;todo utilizado</label>    		
						    		{{ formAnalito.metodo }}
						    		<label for="observaciones">Observaciones</label>
						    		{{ formAnalito.detalle }}
						    	</fieldset>
						    	<fieldset class="span8" id="analitos">
						    		<legend>Listado de Analitos (para actualizar o eliminar selecciona uno)</legend>
						    		<div id="ListaAnalitos"></div>

						    	</fieldset>
						    </div>
                            <div class="botones-formulario" class="row-fluid">
                            	<div class="span4"> </div>
                            	<button type="submit" class="btn btn-success span2" id="guardar-analito" name="guardar-analito">Guardar</button>
                            	<button type="reset" class="btn span2" id="limpiar">Limpiar campos</button>
                            	<button type="submit" class="btn span2" id="eliminar">Eliminar</button>
                            	<button class="btn btn-primary span2">Imprimir</button>
                            </div>


						</form>


                    </div>
                    <!--LISTA DE MUESTREOS ANTERIORES: CLIENTE, DATA-ENTRY-->
                    <div class="cont-localidades tab-pane" id="tab-localidades">
                    	<h2>Localidades</h2>
                    	<form class="formularios-dos-columnas" method='post' action=''>{% csrf_token %}
                        	<div class="row-fluid formulario">
                            	<fieldset id="ingreso-datos-localidades" class="span4">
                            		{{ formLocalidad.id }}
                                    <legend>Datos</legend>
                                    <label for="nombre">Nombre</label>
                                    {{ formLocalidad.nombre }}
                                    <label for="departamento">Departamento</label>
                                    {{ formLocalidad.departamento }}
                                    <label for="coordenadas">Coordenadas Geográficas</label>
                                    {{ formLocalidad.coordenadas }}
                            	</fieldset>
                            	<fieldset class="span8" id="Localidades">
                            		<legend>Listado de Localidades (para actualizar o eliminar selecciona uno)</legend>
                                    <div id="ListaLocalidades"></div> 
                            	</fieldset>
                            </div>
                            <div class="botones-formulario" class="row-fluid">
                            	<div class="span4"> </div>
                            	<button type="submit" class="btn btn-success span2" name="guardar-localidades" id="guardar-localidades">Guardar</button>
                            	<button type="reset" class="btn span2" id="limpiar-localidades">Limpiar campos</button>
                            	<button type="submit" class="btn span2" id="eliminar-localidades">Eliminar</button>
                            	<button class="btn btn-primary span2">Imprimir</button>
                            </div>
                        </form>
                    	
                    </div>
                    <div class="cont-usuarios tab-pane" id="tab-usuarios">
                    	<h2>Usuarios</h2>

                    </div>

                    <div class="cont-clientes tab-pane" id="tab-clientes">
                        <ul class="nav nav-tabs" id="tab-interno-clientes">
                            <li class="pull-left"><h2 id="titulo-clientes">Clientes</h2></li>
                            <li class="pull-right"><a href="#habilitar-clientes" data-toggle="tab">Habilitar Clientes</a></li>
                            <li class="active pull-right"><a href="#amb-clientes" data-toggle="tab">Clientes</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="amb-clientes">
                                <form class="formularios-dos-columnas">
                                    <div class="row-fluid formulario">
                                        <fieldset id="ingreso-datos-clientes" class="span4">
                                            <legend>Datos</legend>
                                            <label for="nombres-usuario">Empresa</label>
                                            {{ formCliente.razon }}
                                            <label for="domicilio">Domicilio</label>
                                            {{ formCliente.domicilio }}
                                            <label for="telefono">Tel&eacute;fono</label>
                                            {{ formCliente.telefono }}
                                            <label for="nombre-usuario">Celular</label>
                                            {{ formCliente.celular }}
                                            <label for="localidad">Localidad</label>
                                            {{ formCliente.localidad }}
                                            <label for="apellidos">Responsable</label>
                                            {{ formCliente.firstname }}{{ formCliente.lastname }}
                                            <br />
                                            <input type="checkbox" id="habilitado-cliente">Habilitado</input>
                                        </fieldset>
                                        <fieldset class="span8" id="clientes">
                                            <legend>Listado de Usuarios (para actualizar o eliminar selecciona uno)</legend>
                                            <div class="tab-pane" id="list-clientes">

                                            </div>  

                                        </fieldset>
                                    </div>
                                    <div class="botones-formulario" class="row-fluid">
                                        <div class="span4"> </div>
                                        <button type="submit" class="btn btn-success span2" id="guardar-cliente">Guardar</button>
                                        <button type="reset" class="btn span2" id="limpiar-cliente">Limpiar campos</button>
                                        <a class="btn span2" id="eliminar-cliente">Eliminar</a>
                                        <button class="btn btn-primary span2">Imprimir</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="habilitar-clientes">

                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
